{
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 100,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^express$",                    
    "^@?\\w",                      
    "^@/(.*)$",            
    "^src/(.*)$",                  
    "^\\.\\.\\/(.*)$",             
    "^\\.\\/(.*)$",                
    "^[./]"                       
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "decorators-legacy"
  ]
}
